/*---------- Переменная --- НАЧАЛО ----------*/
/*COLOR*/
$color-white:#fff;
$color-nero:#262626;
$color-torchRed:#FF0036;
$colr-whisper:#E7E7E7;
$color-matterhorn:#505050;
$color-darkGray:#A4A4A4;
$color-nobel:#A2A2A2;
$color-black:#000;
$color-whiteSmoke:#F7F7F7;
$color-darkGray-A8:#A8A8A8;
$color-nero29:#292626;
$color-whisper-EA:#EAEAEA;
$color-whiteSmoke-F2:#F2F2F2;
$color-cinnabar:#E74C3C;
$color-gainsboro:#D8D8D8;
$color-gainsboro-E0:#E0E0E0;

/*FONTS*/
$LatoBold:"LatoBold", Arial, sans-serif;
$LatoLight:"LatoLight", Arial, sans-serif;
$LatoRegular:"LatoRegular", Arial, sans-serif;
$LatoBlack:"LatoBlack", Arial, sans-serif;
$MgOpenModata:"MgOpenModata", Arial, sans-serif;
$MyriadPro:"MyriadPro", Arial, sans-serif;
$RalewayBold:'RalewayBold', Arial, sans-serif;
$RalewayMedium:'RalewayMedium', Arial, sans-serif;
$RalewayRegular:'RalewayRegular', Arial, sans-serif;
$RalewaySemiBold:'RalewaySemiBold', Arial, sans-serif;
$FontaWesome:'FontaWesome';

/*---------- Переменная --- КОНЕЦ ----------*/