/*---------- LAST TWEETS --- НАЧАЛО ----------*/
.last-tweets {
    background: url(../../img/twitter.png),
    #272727;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0 80px;
    background-position-y: bottom;
    background-position-x: 29px;
    background-size: contain;
}
.last-tweets-container {
   width: 40%;
   margin: 0 auto;
   i {
    color: $color-torchRed;
    margin-bottom: 15px;
    font-size: 31px;
   }
   .twitter-text {
    color: $color-white;
    font-family: $LatoRegular;
    font-size: 16px;
    line-height: 22px;
   }
}
@media(max-width:1200px) {
.last-tweets {
    padding: 25px 0;
}
.last-tweets-container {
    width: 70%;
}
}
/*---------- LAST TWEETS --- КОНЕЦ ----------*/